/* -------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    .site-branding {
        .site-title {
            //TODO
            text-align: center;
            a {
                text-decoration: none;
            }
        }
        .site-description {
            //TODO
            font-size: 18px;
            text-align: center;
            @media @not-desktop {
                display: none;
            }
        }
    }
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

ul#menu-main-menu {
    text-align: center;
}

#wp-megamenu-menu-1>.wpmm-nav-wrap .wpmm_brand_logo_wrap img {
    padding-top: 15px;
}
.wpmm-nav-wrap.wpmm-main-wrap-menu-1 {
    padding-right: 20px;
    padding-left: 20px;
}
.wp-megamenu-wrap.wpmm-mobile-menu .wpmm-nav-wrap .wp-megamenu {
    background-color: rgb(255, 255, 255);
}